/*Creating HEADER*/
.header {
    background-color: #FDF5E6;
    position: fixed;
    width: 100%;
    top: 0;
    border-bottom-left-radius: 25%;
    border-bottom-right-radius: 25%;
}
.header--navigator {
    display: flex;
    justify-content: space-around;
    padding-left: 0;
    padding-bottom: 15px;
}

/*Creating navigator submenu*/
.header--hotel_submenu,
.header--rooms_submenu,
.header--events_submenu {
    display: none;
    opacity: 0;
    position: absolute;
    visibility: hidden;
}

.header--hotel:hover > .header--hotel_submenu,
.header--rooms:hover > .header--rooms_submenu,
.header--events:hover > .header--events_submenu {
    display: block;
    opacity: 1;
    visibility: visible;
    transition: 0.5s ease;
}

/*Decoration navigator submenu */
.header--hotel_submenu li,
.header--rooms_submenu li,
.header--events_submenu li {
    text-align: center;
    padding: 0;
    margin-left: -100%;
}
.header--hotel_submenu li {
    margin-left: -110%;
}

/*Creating horizontal menu strips*/
.header--hotel,
.header--rooms,
.header--dining,
.header--events,
.header--reservation,
.header--contact {
    border-right: 2px solid black;
    width: 13%;
    padding: 0 5% 0 5%;
}
.header--contact {
    border-right: none;
}

/*Decorating menu elements*/
ul {
    list-style: none;
}

.header--hotel,
.header--hotel_about,
.header--hotel_design,
.header--hotel_neighborhood,
.header--hotel_park,
.header--hotel_history,
.header--rooms,
.header--rooms_citypremier,
.header--rooms_parkpremier,
.header--rooms_vip,
.header--rooms_doublelux,
.header--rooms_singlelux,
.header--rooms_economy,
.header--dining,
.header--events,
.header--events_weddings,
.header--events_dinnerparty,
.header--events_cocktailparty,
.header--events_brunches,
.header--events_meetings,
.header--reservation,
.header--contact {
    cursor: pointer;
    text-decoration: none;
    color: #676666;
    font-family: 'Libre Baskerville', serif;
    font-size: 1.1em;
}

.header--hotel:hover,
.header--hotel_about:hover,
.header--hotel_design:hover,
.header--hotel_neighborhood:hover,
.header--hotel_park:hover,
.header--hotel_history:hover,
.header--rooms:hover,
.header--rooms_citypremier:hover,
.header--rooms_parkpremier:hover,
.header--rooms_vip:hover,
.header--rooms_doublelux:hover,
.header--rooms_singlelux:hover,
.header--rooms_economy:hover,
.header--dining:hover,
.header--events:hover,
.header--events_weddings:hover,
.header--events_dinnerparty:hover,
.header--events_cocktailparty:hover,
.header--events_brunches:hover,
.header--events_meetings:hover,
.header--reservation:hover,
.header--contact:hover {
    color: #D97373;
}
#manu {
    display: none;
}
/*Logo decoration*/
.header--logo {
    text-align: center;
    font-family: 'Allura', cursive;
    font-size: 50px;
    margin-top: 0;
    padding-top: 15px;
}
.header--logo a {
    text-decoration: none;
    color: black;
}

@media (max-width: 1200px) {
    .header--dining {
        display: none;
    }

    .header--hotel,
    .header--hotel_about,
    .header--hotel_design,
    .header--hotel_neighborhood,
    .header--hotel_park,
    .header--hotel_history,
    .header--rooms,
    .header--rooms_citypremier,
    .header--rooms_parkpremier,
    .header--rooms_vip,
    .header--rooms_doublelux,
    .header--rooms_singlelux,
    .header--rooms_economy,
    .header--dining,
    .header--events,
    .header--events_weddings,
    .header--events_dinnerparty,
    .header--events_cocktailparty,
    .header--events_brunches,
    .header--events_meetings,
    .header--reservation,
    .header--contact {
        font-size: 0.9em;
    }

    .header--hotel_submenu li,
    .header--rooms_submenu li,
    .header--events_submenu li {
        margin-left: -120%;
    }
    .header--hotel_submenu li {
        margin-left: -130%;
    }
    
}

@media (max-width: 730px) {
    .header--logo {
        display: none;
    }
    nav {
        display: none;
    }
}