/*Header*/
.main--design {
    padding-top: 50px;
}

.main--design_header {
    padding-top: 50px;
}
.main--design_name {
    text-align: center;
    text-transform: uppercase;
    font-size: 60px;
    font-family: 'Libre Baskerville', serif;
}

.main--design_name span {
    color: #D97373;
}

.main--design_undername {
    text-align: center;
    font-family: 'Allura', cursive;
}

/*Images gallery*/
/*position for the slider - center*/
.main--design_gallery_slider {
    text-align: center;
    top: 10px;
    margin: 0 auto;
}

/*all images to the left*/
.main--design_gallery_images article{
    width: 20%;
    float: left;
}

/*size for image block*/
.main--design_gallery_images .main--design_gallery_image{
    width: 500%;
    line-height: 0;
}

/*hide everything outside overflow*/
.main--design_gallery_images_overflow {
    width: 60%;
    overflow: hidden;
    margin: 0 auto;
}

/*size for images*/
article img{
    width: 100%;
}

/*slider size*/
#image_gallery:checked ~ .main--design_gallery_slider {
    max-width: 80%;
}

/*for the left arrow*/
#image_switch1:checked ~ .main--design_gallery_arrows label:nth-child(5),
#image_switch2:checked ~ .main--design_gallery_arrows label:nth-child(1),
#image_switch3:checked ~ .main--design_gallery_arrows label:nth-child(2),
#image_switch4:checked ~ .main--design_gallery_arrows label:nth-child(3),
#image_switch5:checked ~ .main--design_gallery_arrows label:nth-child(4){
    background: url('Images/design page/prev.png') no-repeat;
    float: left;
    margin: 50px 0 0 -84px;
    display: block;
    height: 68px;
    width: 68px;
}

/*for the right arrow*/
#image_switch1:checked ~ .main--design_gallery_arrows label:nth-child(2),
#image_switch2:checked ~ .main--design_gallery_arrows label:nth-child(3),
#image_switch3:checked ~ .main--design_gallery_arrows label:nth-child(4),
#image_switch4:checked ~ .main--design_gallery_arrows label:nth-child(5),
#image_switch5:checked ~ .main--design_gallery_arrows label:nth-child(1){
    background: url('Images/design page/next.png') no-repeat;
    float: right;
    margin: 50px -84px 0 0;
    display: block;
    height: 68px;
    width: 68px;
}

/*change cursor*/
label {
    cursor: pointer;
}

/*hide radio buttons*/
.main--design_gallery input{
    display: none;
}

/*image position if switch is active*/
#image_switch1:checked ~ .main--design_gallery_images .main--design_gallery_image{
    margin-left: 0;
}

#image_switch2:checked ~ .main--design_gallery_images .main--design_gallery_image{
    margin-left: -100%;
}

#image_switch3:checked ~ .main--design_gallery_images .main--design_gallery_image{
    margin-left: -200%;
}

#image_switch4:checked ~ .main--design_gallery_images .main--design_gallery_image{
    margin-left: -300%;
}

#image_switch5:checked ~ .main--design_gallery_images .main--design_gallery_image{
    margin-left: -400%;
}

/*position for radio buttons block*/
.main--design_gallery_arrows {
    margin: -27% 0 0 0;
    width: 100%;
    height: 50px;
}

/*position for the first button*/
.main--design_gallery_arrows_active label{
    border-radius: 10px;
    display: inline-block;
    width: 15px;
    height: 15px;
    background: #bbb;
}

/*position for radio buttons*/
.main--design_gallery_arrows_active {
    margin: 25% 0 0;
    text-align: center;
}

/*style when cursor is hover*/
.main--design_gallery_arrows_active label:hover{
    background: #D97373;
}

/*style when radio button is active*/
#image_switch1:checked ~ .main--design_gallery_arrows_active label:nth-child(1),
#image_switch2:checked ~ .main--design_gallery_arrows_active label:nth-child(2),
#image_switch3:checked ~ .main--design_gallery_arrows_active label:nth-child(3),
#image_switch4:checked ~ .main--design_gallery_arrows_active label:nth-child(4),
#image_switch5:checked ~ .main--design_gallery_arrows_active label:nth-child(5){
    background: #D97373;
}

/*animation when images are changed*/
.main--design_gallery_images .main--design_gallery_image{
    transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
}

/*opacity when cursor is hover under the arrows*/
.main--design_gallery_arrows label:hover{
    opacity: 0.6;
}

.main--design_gallery_arrows label{
    transition: opacity 0.2s ease-out;
}