@import "header.css";
@import "aboutthehotel_content.css";
@import "footer.css";
@import "hoteldesign_content.css";

body {
    width: 100%;
    margin: 0;
}

#contentBody {
    padding-top: 100px;
}


