@import "header.css";
@import "aboutthehotel_content.css";
@import "footer.css";
@import "hoteldesign_content.css";
@import "hotelneighborhood_content.css";
@import "hotelhistory_content.css";
@import "hoteldining_content.css";
@import "hotelevent_weddings_content.css";
/*decorating main page*/
body,
html {
    height: 100%;
    width: 100%;
    margin: 0;
}

/*footer down*/

#contentBody {
    padding-top: 140px;
    min-height: calc(100vh - 290px);
}

/*inages gallery for the main page*/
.img_main_wrap {
    width: 100%;
    margin-top: -20px;
    margin-bottom: -30px;
}

.img_main {
    width: 100%;
    height: 200%;
}

